@import url('https://fonts.googleapis.com/css?family=Roboto|Shrikhand');
/* 
.App{
    background: url(../Assets/bg.jpg);
} */
.Bio, .Projects{
    width: 900px;
    margin: 0 auto;
}
.Erika{
    font-family: 'Shrikhand';
    font-size: 80px;
    writing-mode: sideways-lr;
    text-orientation: sideways-right;
    background: url(../Assets/bg.jpg);
    margin-top: 25px;
}
.Bio{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, .8);
    padding-left: 10px;
}
.Projects{
    display: flex;
    flex-wrap: wrap
}
img{
    width: 350px;
    padding: 20px;
}