@import url('https://fonts.googleapis.com/css?family=Roboto|Shrikhand');

.App{
    width: 800px;
    display: flex;
}
.Bio, .Projects{
    width: 900px;
    margin: 0 auto;
}
.Erika{
    font-family: 'Shrikhand';
    font-size: 80px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    background: url(../Assets/bg.jpg);
    margin-top: 25px;
}
.Menu{
    /* position: absolute; */
    margin-left: 200px;
    margin-top: 50px;
    border-color: black;
    background: black;
    border-style: solid;
    color: white;
}
.Bio{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, .8);
    padding-left: 10px;
}
.Projects{
    display: flex;
    flex-wrap: wrap
}
img{
    width: 350px;
    padding: 20px;
}