@import url('https://fonts.googleapis.com/css?family=Roboto|Shrikhand');

.App{
    background: url(../Assets/bg.jpg);
}
.Bio, .Projects{
    width: 900px;
    margin: 0 auto;
}
.Name{
    font-family: 'Shrikhand';
    font-size: 40px;
}
.Bio{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, .8);
    padding-left: 10px;
}
.Projects{
    display: flex;
    flex-wrap: wrap
}
img{
    width: 350px;
    padding: 20px;
}